<ul class="header-inner clearfix ">
    <li >
        &nbsp;
    </li>

    <li class="logo hidden-xm" >
        <img src="img/logo-white.png" height="35px" width="35px">

    </li>

    <li class="logo" >
        <a data-ui-sref="home" class="f-700" style="text-transform:none;">Tagbeat</a>
    </li>

    <li class="logo hidden-xs" >
        <a style="text-transform:none;">Sensing Mechanical Vibration Using Backscatter Signals</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li uib-tooltip="Report bugs" tooltip-placement="bottom">
                <a href="https://github.com/tagsys/tagbeat" target="_blank"><i class="tm-icon zmdi zmdi-github"></i></a>
            </li>
            <li uib-tooltip="About" tooltip-placement="bottom">
                <a href="" ng-click="about()"><i class="tm-icon zmdi zmdi-flag"></i></a>
            </li>

        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>


